.features {
  padding: 80px 20px;
  background: #0f172a;
  color: white;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;
  width: 220px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}