.sidebar {
  width: 220px;
  height: 100vh;
  background: #020617;
  border-right: 1px solid #1f2937;
  padding: 20px;
  color: white;
  position: fixed;
}

.logo {
  color: #a3ff12;
  margin-bottom: 30px;
}

.menu div {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 8px;
}

.menu div:hover {
  background: #0B0E14;
}
.sidebar {
  width: 220px;
  background: #0B0E14;
  height: 100vh;
  position: fixed;
  padding: 20px;
  border-right: 1px solid rgba(255,255,255,0.05);
}

/* 🔥 LOGO STYLE */
.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 30px;
}

.sidebar-logo img {
  width: 35px;
  height: 35px;
  border-radius: 8px;
}

.sidebar-logo span {
  color: #9eff00;
  font-size: 18px;
  font-weight: bold;
}

.menu div {
  margin: 15px 0;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}

.menu div:hover {
  color: #9eff00;
}