.signup-container {
  text-align: center;
  padding: 80px 20px;
  color: white;
  background: linear-gradient(135deg, #0B0E14, #111827);
  min-height: 100vh;
}

.signup-container h1 {
  font-size: 48px;
  margin-bottom: 30px;
}

.signup-container span {
  color: #a3ff12;
}

/* GLASS BOX */
.signup-box {
  background: rgba(15, 23, 42, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(163, 255, 18, 0.2);
  padding: 40px;
  border-radius: 18px;
  width: 420px;
  margin: auto;
  box-shadow: 0 0 40px rgba(163,255,18,0.05);
}

/* INPUTS */
.signup-box input {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border-radius: 12px;
  border: 1px solid #1f2937;
  background: #020617;
  color: white;
  transition: 0.3s;
}

.signup-box input:focus {
  outline: none;
  border-color: #a3ff12;
  box-shadow: 0 0 10px rgba(163,255,18,0.4);
}

/* BUTTON */
.primary-btn {
  width: 100%;
  padding: 14px;
  background: #a3ff12;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.primary-btn:hover {
  background: #c7ff4d;
  box-shadow: 0 0 20px rgba(163,255,18,0.6);
  transform: translateY(-2px);
}

.primary-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* SWITCH TEXT */
.switch-text {
  margin-top: 18px;
  font-size: 14px;
  color: #9ca3af;
}

.switch-text span {
  color: #a3ff12;
  cursor: pointer;
}